.container-fluid{

    background: linear-gradient(180deg,rgba(254,163,64,0) 25.44%,rgba(12,5,70,0.5) 100%),#31996A;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center !important;
    align-items: center;
    
}
.forgotpsswdCard{
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px !important;
    box-shadow: 5px 5px 40px rgb(109, 100, 100) !important;

  }
.resetpsswd{
    background: linear-gradient(180deg,rgba(254,163,64,0) 25.44%,rgba(70, 5, 30, 0.5) 100%),#31996A !important;
    width: 60%  ;
    align-items: center;
    margin-left: 20% !important ;
    border-radius: 10px !important;
}
.icon{
   
    margin-top: 30px;
    scale: 2.25 ;
    rotate: 180deg;
}

.FPtext{
    font-size: 12px !important;
     color:rgba(0, 0, 0, 0.6) !important;
     text-align:center !important;
}
.bcklogin{
 
    font-size: 10px !important;
    
}
.mail{
    margin-left: 5% !important;
    width: 100%;
}
.error{
    color: red;
}

.pswd {
    background: linear-gradient(180deg,rgba(254,163,64,0) 25.44%,rgba(12,5,70,0.5) 100%),#31996A !important;
    /* font-family: Georgia, serif !important; */
  }
