.maincard {
  margin-left: 30px;
  /* padding: 20px; */
  padding: none;
  width: 160px;
  box-shadow: 2px 2px 20px rgb(39, 33, 33) !important;
  border-radius: 15px !important;
  /* background-color: rgb(228, 240, 250) !important; */
  background: transparent;
}
 .maincard:hover {
    cursor: pointer;
    background-color: red !important;
    /* box-shadow: 5px 5px 30px 0px rgba(221, 57, 35, 0.7)!important; */
} 
.imgcard{
 border-radius: 10px;
 transition: all 0.5s ease-in-out;
 /* rotate: 25deg; */

}
.imgcard:hover{
  /* box-shadow: 1px 1px 5px 5px rgba(255, 17, 0, 0.7) !important; */
  cursor: pointer;
    background-color: red !important;
/* rotate: 20deg; */
/* transform: rotateY(180deg) */
transform: rotateZ(360deg)
};

